/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
	background-color: black;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
	border: gray solid 5px;
	border-radius: 10px;
}

div img {
	width: 100%;
	max-width: 225px; 
	margin-left: 2px;
	background: rgba(88, 87, 87, 0.3);
}

/* grid system -- mobile first! */
/* flex contatiner */

.row {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 1rem;
	margin: 1rem;
}

/* attribute selector to give some margin between columns and apply styles to flex items */

[class*="col-"] {
	grid-column: span 12;
	border: black solid 5px;
	border-radius: 10px;
}

article {
	padding: 1rem;
}
/* Add background colors to see how much space each column is taking */

.col-1 {
	background-color: #A3CDD9;
}

.col-2 {
	background-color: #FFFCE6;
}

.col-3 {
	background-color: rgb(213, 168, 22);
}

.col-4 {
	background-color: rgb(178, 228, 196);
}

.col-small {
	background-color: rgb(179, 132, 192);
}

.col-big {
	background-color: rgb(213, 92, 92);
}

/* scrolling row 6 */
.scroll-row {
	display: grid;
	grid-auto-flow: column;
	gap: 1rem;
	margin: 1rem;
	overflow-x: auto;
	padding-bottom: 1rem;
}

.scroll-row .col-big {
	grid-column: span 3;
}

.scroll-row .col-small {
	grid-column: span 2;
}

/* Tablet Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	
    .col-1 {
		grid-column: span 6; 
	}

	.col-2 {
		grid-column: span 6;
	}

	.col-3 {
		grid-column: span 12;
	}

	.col-4 {
		grid-column: span 12;
	}

	.col-small {
		grid-column: span 6;
	}

	.col-big {
		grid-column: span 6;
	}

	.front {
		grid-column: 1 / -1;
		grid-row: 1;
	}

	.grow {
		grid-column: span 12;
	}

	.scroll-row {
		grid-auto-columns: 125px;
	}

}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  
  	.col-1 {
		grid-column: span 3; 
	}

	.col-2 {
		grid-column: span 6;
	}

	.col-3 {
		grid-column: span 9;
	}

	.col-4 {
		grid-column: span 12;
	}

	.col-small {
		grid-column: span 2;
	}

	.col-big {
		grid-column: span 3;
	}

	.front {
		grid-row: auto;
	}

	.grow {
		grid-column: span auto;
	}

	.scroll-row {
		grid-auto-columns: 132px;
	}
}
